<div class="card mb-4 shadow-sm">
  <!-- <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageUrl" /> -->

  <div class='card-header bg-light'>
    <p class="card-title text-center text-capitalize text-danger">
      <strong>{{productItem.offerCategory}}</strong>
    </p>
  </div>
  <div class="card-body">
    <p class="card-text text-info"><strong> {{ productItem.details }}</strong> <small> (likes
        {{productItem.likes.length}}) </small></p>
    <p class="card-title text-decoration-underline text-md-start text-success font-monospace text-capitalize">Offered By
      : {{productItem.authorId}}
    <p class="card-text">
      price: <strong>{{ productItem.price.toString() | currency:'INR' }}</strong>
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <div *ngIf="isLoggedIn()" >
        <button type="button" class="btn m-1 btn-sm btn-primary product-btn" (click)="likeProduct()">like
        </button>
        <button type="button" class="btn m-1 btn-sm btn-outline-secondary product-btn">comment</button>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
          Cart</button>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button> -->
      </div>
    </div>
  </div>
</div>